.cardHeader{
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}
.company-name{

    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.job-title{
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}